.navbar-expand-lg .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-family: "Bookman Old Style";
    font-style: italic;
    font-size: 15px;
}

.navbar-expand-lg .navbar-brand {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    font-family: cursive;
    text-shadow: blue;
}

body {
    background-color: #e2e2e2;
}

.footer {
    background-color: #e2e2e2;
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 15px;
    border-width: 0px;
    padding: 0px;
    text-align: center;
}

.icon {
    justify-content: center;
    width: 15vh;
    hight: 15vh;
}

.sidebar {
    /*background-color: black;*/
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../media/ieWF83.jpg");
    width: 13rem;
    position: fixed;
    /*top: 0px;*/
    overscroll-behavior: contain;
    display: block;
    height: 100%;
    transition-delay: 0.3s;
    padding-top: 124px;
    z-index: 2;
}

.sidebar a {
    padding: 10px 25px;
    display: block;
    color: whitesmoke;
    font-style: italic;
    font-family: "Times New Roman";
    font-size: 15px;
    text-decoration: none;
    width: 100%;
}

h4 {
    font-family: cursive;
    color: crimson;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 1px;
}

.sidebar a:hover {
    background-color: burlywood;
}

.sidebar .present {
    background-color: blueviolet;
    color: whitesmoke;
}

.sidebar .cross {
    position: absolute;
    left: 90%;
    font-size: 25px;
    color: whitesmoke;
}

.bar {
    position: fixed;
    font-size: 25px;
    display: block;
    padding-top: 128px;
}

a {
    text-decoration: none;
}

.dashboard_banner {
    padding-left: 13rem;
    padding-top: 50px;
    padding-right: 2%;
    width: 100%;
    z-index: -1;
}

.second {
    padding-top: 50px;
}

.bot {
    color: black;
}

img {
    height: 250px;
    width: 280px;
    background-size: cover;
}

.card:hover{
    border: none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.01);
}

.pic{
    padding-top: 115px;
    width: 100%;
    height: 300px;
    padding-left: 13rem;
    display: block;
    transition: 0.6s ease;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 228px;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.0s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev{
    left: 0;
    margin-left: 15%;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.pic1{
    padding-top: 115px;
    width: 100%;
    height: 300px;
    padding-left: 13rem;
    display: none;
    transition: 0.0s ease;
}

.pic2{
    padding-top: 115px;
    width: 100%;
    height: 300px;
    padding-left: 13rem;
    display: none;
    transition: 0.0s ease;
}

.background{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../media/bg.jpeg");

}

.second-nav{
    margin-top: 3.9rem;
    z-index: 3;

}

@media screen and (max-width: 740px){
    .second-nav{
        margin-top: 6.3rem;
    }
    .bar{
        padding-top: 162px;
    }
    .pic, .pic1, .pic2{
        padding-top: 155px;
    }
    .sidebar{
        padding-top: 162px;
    }
}

.second-nav1{
    margin-top: 10rem;
}

.second-nav3{
    margin-top: 212px;
}

.dairy-layout{
    height: 100%;
    width: 100%;
}

.dropdown{
    z-index: 8;
}

.dropdown-item{
    font-family: "Bookman Old Style";
    font-style: italic;
    font-size: 15px;
}

.item-cut{
    font-size: 12px;
}

.item-head{
    color: darkviolet;
    font-size: 22px;
}

.item-discount{
    color: #ff105f;
    font-size: 15px;
}

.button1{
    margin-top: 50px;
}

.bot1{
    margin-top: 25px;
    width: 130px;
}

.greet {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 48px;
    font-family: "Bell MT";
    text-shadow: blue;
    margin-top: 4.5rem;
    color: brown;
}

.action {
    height: 22px;
    width: 55px;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}

.product-image{
    margin-left: 2rem;
    width: 100%;
    height: auto;
}

.product-layout{
    display: inline-flex;
    margin-top: 6rem;
}

.product-details{
    margin-left: 5rem;
    width: 50vw;
}

.product-commerce{
    font-style: italic;
    font-weight: bold;
    font-size: 1.4vw;
}

.quantity{
    width: 40px;
}
