<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::frag(${title})">
    <meta charset="UTF-8">
    <title></title>
</head>
<body onload="start()">
<div th:replace="navbar::nav"></div>
<div th:replace="homenav::nav1"></div>
<div th:replace="sidebar::side"></div>
<i class="fas fa-bars bar" onclick="toggleBar()"></i>
<section class="dashboard_banner" id="banneres">
    <h1 class="greet">Hello Dev! Here Are Your Current Orders</h1>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Cart Id</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Accepted Arrival Date</th>
                    <th scope="col">Cart</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>29 August 2021</td>
                    <td>3 September 2021</td>
                    <td><a href="#">See orders</a></td>
                    <td>
                        <div class="container text-center">
                            <a href="#"> <input type="submit"
                                                class="btn btn-outline-danger action"
                                                value="Cancel"> </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>29 August 2021</td>
                    <td>3 September 2021</td>
                    <td><a href="#">See orders</a></td>
                    <td>
                        <div class="container text-center">
                            <a href="#"> <input type="submit"
                                                class="btn btn-outline-danger action"
                                                value="Cancel"> </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>29 August 2021</td>
                    <td>3 September 2021</td>
                    <td><a href="#">See orders</a></td>
                    <td>
                        <div class="container text-center">
                            <a href="#"> <input type="submit"
                                                class="btn btn-outline-danger action"
                                                value="Cancel"> </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>29 August 2021</td>
                    <td>3 September 2021</td>
                    <td><a href="#">See orders</a></td>
                    <td>
                        <div class="container text-center">
                            <a href="#"> <input type="submit"
                                                class="btn btn-outline-danger action"
                                                value="Cancel"> </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>29 August 2021</td>
                    <td>3 September 2021</td>
                    <td><a href="#">See orders</a></td>
                    <td>
                        <div class="container text-center">
                            <a href="#"> <input type="submit"
                                                class="btn btn-outline-danger action"
                                                value="Cancel"> </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="about::about"></div>
</section>
</body>
</html>