<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::frag(${title})">
    <meta charset="UTF-8">
    <title></title>
</head>
<body onload="start()">
<div th:replace="navbar::nav"></div>
<div th:replace="homenav::nav1"></div>
<div th:replace="sidebar::side"></div>
<i class="fas fa-bars bar" onclick="toggleBar()"></i>
<section class="dashboard_banner" id="banneres">
    <div class="row" style="margin-top: 100px">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="#" th:src="@{/media/surfexel.jpg}" class="card-img-top" alt="#">
                <div class="card-body">
                    <h5 class="card-title item-head">Surfexel</h5>
                    <p class="card-text item-amount">&#x20B9; 100 <del class="item-cut">200</del>
                        <br> <span class="item-discount">50% off</span></p>
                    <a href="#" class="btn btn-outline-danger btn-warning bot">Go To Product</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="#" th:src="@{/media/woosh.jpeg}" class="card-img-top" alt="#">
                <div class="card-body">
                <h5 class="card-title item-head">Woosh</h5>
                <p class="card-text item-amount">&#x20B9; 100 <del class="item-cut">200</del>
                    <br> <span class="item-discount">50% off</span></p>
                    <a href="#" class="btn btn-outline-danger btn-warning bot">Go To Product</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="#" class="card-img-top" th:src="@{/media/wheel.jpg}" alt="#">
                <div class="card-body">
                <h5 class="card-title item-head">Wheel</h5>
                <p class="card-text item-amount">&#x20B9; 100 <del class="item-cut">200</del>
                    <br> <span class="item-discount">50% off</span></p>
                    <a href="#" class="btn btn-outline-danger btn-warning bot">Go To Product</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row second">
        <div class="col-sm">
            <a href="" th:href="@{/product}">
            <div class="card" style="width: 18rem;">
                <img src="#" class="card-img-top" th:src="@{/media/tide.jpg}" alt="#">
                <div class="card-body">
                <h5 class="card-title item-head">Tide</h5>
                <p class="card-text item-amount">&#x20B9; 100 <del class="item-cut">200</del>
                    <br> <span class="item-discount">50% off</span></p>
                    <a href="#" th:href="@{/product}" class="btn btn-outline-danger btn-warning bot">Go To Product</a>
                </div>
            </div>
            </a>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="#" class="card-img-top" alt="#" th:src="@{/media/ariel.jpg}">
                <div class="card-body">
                <h5 class="card-title item-head">Ariel</h5>
                <p class="card-text item-amount">&#x20B9; 100 <del class="item-cut">200</del>
                    <br> <span class="item-discount">50% off</span></p>
                    <a href="#" class="btn btn-outline-danger btn-warning bot">Go To Product</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="#" class="card-img-top" alt="#" th:src="@{/media/ghadi.jpg}">
                <div class="card-body">
                <h5 class="card-title item-head">Ghadi</h5>
                <p class="card-text item-amount">&#x20B9; 100 <del class="item-cut">200</del>
                    <br> <span class="item-discount">50% off</span></p>
                    <a href="#" class="btn btn-outline-danger btn-warning bot">Go To Product</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center button1">
        <a href="#" th:href="@{/grocery}"> <input type="submit" class="btn btn-outline-danger btn-warning bot1"
                                                   value="Previous"> </a>
        <span>&emsp;</span>
        <a href="#" th:href="@{/grocery1}"> <input type="submit" class="btn btn-outline-danger btn-info bot1"
                                                   value="Next"> </a>
    </div>
    <div th:replace="about::about"></div>
</section>
</body>
</html>