<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::frag(${title})">
    <meta charset="UTF-8">
    <title></title>
</head>
<body onload="start()">
<div th:replace="navbar::nav"></div>
<div th:replace="homenav::nav1"></div>
<div th:replace="sidebar::side"></div>
<i class="fas fa-bars bar" onclick="toggleBar()"></i>
<section class="dashboard_banner" id="banneres">
    <div class="row" style="margin-top: 100px">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="#" th:src="@{/media/dettol.jpg}" class="card-img-top" alt="#">
                <div class="card-body">
                    <h5 class="card-title item-head">Dettol</h5>
                    <p class="card-text item-amount">&#x20B9; 100 <del class="item-cut">200</del>
                        <br> <span class="item-discount">50% off</span></p>
                    <a href="#" class="btn btn-outline-danger btn-warning bot">Go To Product</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="#" th:src="@{/media/lifebouy.jpg}" class="card-img-top" alt="#">
                <div class="card-body">
                    <h5 class="card-title item-head">Lifebouy</h5>
                    <p class="card-text item-amount">&#x20B9; 100 <del class="item-cut">200</del>
                        <br> <span class="item-discount">50% off</span></p>
                    <a href="#" class="btn btn-outline-danger btn-warning bot">Go To Product</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="#" class="card-img-top" th:src="@{/media/lux.jpg}" alt="#">
                <div class="card-body">
                    <h5 class="card-title item-head">Lux</h5>
                    <p class="card-text item-amount">&#x20B9; 100 <del class="item-cut">200</del>
                        <br> <span class="item-discount">50% off</span></p>
                    <a href="#" class="btn btn-outline-danger btn-warning bot">Go To Product</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row second">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="#" class="card-img-top" th:src="@{/media/santoor.jpg}" alt="#">
                <div class="card-body">
                    <h5 class="card-title item-head">Santoor</h5>
                    <p class="card-text item-amount">&#x20B9; 100 <del class="item-cut">200</del>
                        <br> <span class="item-discount">50% off</span></p>
                    <a href="#" class="btn btn-outline-danger btn-warning bot">Go To Product</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="#" class="card-img-top" alt="#" th:src="@{/media/dove.jpg}">
                <div class="card-body">
                    <h5 class="card-title item-head">Dove</h5>
                    <p class="card-text item-amount">&#x20B9; 100 <del class="item-cut">200</del>
                        <br> <span class="item-discount">50% off</span></p>
                    <a href="#" class="btn btn-outline-danger btn-warning bot">Go To Product</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="#" class="card-img-top" alt="#" th:src="@{/media/pears.jpg}">
                <div class="card-body">
                    <h5 class="card-title item-head">Pears</h5>
                    <p class="card-text item-amount">&#x20B9; 100 <del class="item-cut">200</del>
                        <br> <span class="item-discount">50% off</span></p>
                    <a href="#" class="btn btn-outline-danger btn-warning bot">Go To Product</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center button1">
        <a href="#" th:href="@{/grocery}"> <input type="submit" class="btn btn-outline-danger btn-warning bot1"
                            value="Previous"> </a>
        <span>&emsp;</span>
        <a href="#"> <input type="submit" class="btn btn-outline-danger btn-info bot1"
                            value="Next"> </a>
    </div>
    <div th:replace="about::about"></div>
</section>
</body>
</html>