<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="head::frag(${title})">
    <meta charset="UTF-8">
    <title></title>
</head>
<body onload="start()">
<div th:replace="navbar::nav"></div>
<div th:replace="sidebar::side"></div>
<i class="fas fa-bars bar" onclick="toggleBar()"></i>
<img src="#" th:src="@{/media/one.jpg}" class="pic" alt="">
<img src="#" th:src="@{/media/two.jpg}" class="pic1" alt="">
<img src="#" th:src="@{/media/three.jpg}" class="pic2" alt="">
<a class="prev" onclick="preving()">&#10094;</a>
<a class="next" onclick="nexting()">&#10095;</a>
<section class="dashboard_banner" id="banneres">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="#" th:src="@{/media/grocery.jpg}" class="card-img-top" alt="#">
                <div class="card-body">
                    <h5 class="card-title">Grocery</h5>
                    <p class="card-text">Up to 30% off</p>
                    <a href="#" class="btn btn-outline-danger btn-warning bot">Go To Deals</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="#" th:src="@{/media/pantry.jpg}" class="card-img-top" alt="#">
                <div class="card-body">
                    <h5 class="card-title">Pantry</h5>
                    <p class="card-text">Up to 20% off</p>
                    <a href="#" class="btn btn-outline-danger btn-warning bot">Go To Deals</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="#" class="card-img-top" th:src="@{/media/vegetables.jpg}" alt="#">
                <div class="card-body">
                    <h5 class="card-title">Vegetables</h5>
                    <p class="card-text">Up to 45% off</p>
                    <a href="#" class="btn btn-outline-danger btn-warning bot">Go To Deals</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row second">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="#" class="card-img-top" th:src="@{/media/fruits.jpg}" alt="#">
                <div class="card-body">
                    <h5 class="card-title">Fruits</h5>
                    <p class="card-text">Up to 30% off</p>
                    <a href="#" class="btn btn-outline-danger btn-warning bot">Go To Deals</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="#" class="card-img-top" alt="#" th:src="@{/media/dairy.jpg}">
                <div class="card-body">
                    <h5 class="card-title">Dairy</h5>
                    <p class="card-text">Up to 20% off</p>
                    <a href="#" class="btn btn-outline-danger btn-warning bot">Go To Deals</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="#" class="card-img-top" alt="#" th:src="@{/media/frozen.jpg}">
                <div class="card-body">
                    <h5 class="card-title">Frozen Food</h5>
                    <p class="card-text">Up to 45% off</p>
                    <a href="#" class="btn btn-outline-danger btn-warning bot">Go To Deals</a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="about::about"></div>
</section>
<script>

    const frame = () => {
        $(".pic").css("display", "none")
        $(".pic1").css("display", "block")
        $(".pic2").css("display", "none")
        setTimeout(frame1,3500)
    }
    const frame1 = () => {
        $(".pic").css("display", "none")
        $(".pic1").css("display", "none")
        $(".pic2").css("display", "block")
        setTimeout(frame2,3500)
    }
    const frame2 = () => {
        $(".pic").css("display", "block")
        $(".pic1").css("display", "none")
        $(".pic2").css("display", "none")
        setTimeout(frame,3500)
    }
    setTimeout(frame,3500)
</script>
</body>
</html>