<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::frag(${title})">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="account-bg">
    <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" onclick="login()">
                Log In
            </button>
            <button type="button" class="toggle-btn" onclick="register()">
                Register
            </button>
        </div>
        <div class="social-media">
            <img src="../media/gp.png" />
            <img src="../media/fb.png" />
            <img src="../media/tw.png" />
        </div>
        <form id="login" class="input-grp">
            <input
                    type="number"
                    class="input-field"
                    placeholder="Contact Number"
                    required
            />
            <input
                    type="text"
                    class="input-field"
                    placeholder="Password"
                    required
            />
            <input type="checkbox" class="check-box" /><span>"Remember me"</span>
            <button type="submit" class="submit-btn">Log In</button>
        </form>
        <form id="register" class="input-grp">
            <input
                    type="number"
                    class="input-field"
                    placeholder="Contact Number"
                    required
            />
            <input
                    type="text"
                    class="input-field"
                    placeholder="Password"
                    required
            />
            <input type="checkbox" class="check-box" /><span
        >"I agree to the terms and conditions"</span
        >
            <button type="submit" class="submit-btn">Register</button>
        </form>
    </div>
</div>
<script>
    var x = document.getElementById("login");
    var y = document.getElementById("register");
    var z = document.getElementById("btn");

    function register() {
        x.style.left = "-80vh";
        y.style.left = "7vh";
        z.style.left = "19vh";
    }

    function login() {
        x.style.left = "9vh";
        y.style.left = "65vh";
        z.style.left = "0";
    }
</script>
</body>
</html>