<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="Head::frag(${title})">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="nav">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary first-nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:href="@{/}">Apni Dukan</a>
        <button onclick="inc()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex">
            <input class="form-control me-2" type="search" style="width: 25rem" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success btn-success" style="color: white" type="submit">Search</button>
        </form>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" th:href="@{/user/profile}" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PROFILE
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" th:href="@{/user/profile}">PROFILE</a>
                        <a class="dropdown-item" href="#" th:href="@{/user/previousOrder}">PREVIOUS ORDER</a>
                        <a class="dropdown-item" href="#" th:href="@{/user/currentOrder}">ORDERS ON THE WAY</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${title}=='Cart' ? 'active' : ''" href="#"
                       th:href="@{/user/cart}">CART</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${title}=='Sign Up' ? 'active' : ''" href="#"
                       th:href="@{/login}">SIGN UP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"
                       th:href="@{/logout}">LOG OUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
</body>
</html>
