<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::frag(${title})">
    <meta charset="UTF-8">
    <title></title>
</head>
<body onload="start()">
<div th:replace="navbar::nav"></div>
<div th:replace="sidebar::side"></div>
<div th:replace="homenav::nav1"></div>
<i class="fas fa-bars bar" onclick="toggleBar()"></i>
<section class="dashboard_banner">
    <div class="product-layout">
        <div>
            <img src="#" class="product-image" th:src="@{/media/tide.jpg}" alt="">
        </div>
        <div class="product-details">
            <div class="card">
                <div class="card-body">
                    <h4>Tide Plus Double Power <br> Detergent Washing Powder <br> - 4 kg + 1 Kg Free (Jasmine and Rose)</h4>
                    <p class="item-amount"> <span class="product-commerce">M.R.P : </span> &#x20B9; 2000</p>
                    <p><span class="product-commerce">Price : </span> &#x20B9; 1000 <del class="item-cut">&#x20B9; 2000</del></p>
                    <p class="item-discount"><span class="product-commerce">You Save : </span>  &#x20B9; 1000 (50%)</p>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="about::about"></div>
</section>
</body>
</html>